
.esports-info {
  display: inline-block;
  border: 3px solid black;
  overflow-y: scroll;
  text-align: left;
  width: 32%;
  height: 22rem ;
}

.esports-info-img {
  width: 100%;
  height: auto;
}

.esports-tournaments {
  width: 100%;
  text-align: left;
}

.dota-tournament-img {
  float: left;
  width: 50%;
  padding: 2.5px;
}

article>p {
  text-align: justify;
  padding-right: 5px ;
  margin-right: 22px;


}
